<%= form_for @block, :html => {:multipart => true} do |b| %>
	<% if @block.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:
			</h2>
			<ul>
			<% @block.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<%end%>

	<p>
		<%= b.label :title %><br>
		<%= b.text_field :title %>
	</p>

	<p>
		<%= b.label :tags %><br>
		<%= b.text_field :tag_list, { :placeholder => "Separate Tags By Commas" } %><br>
		
		<%= b.check_box :req_list %>Needs 21-ID<br>
		<%= b.check_box :req_list %>Needs Money<br>
		<%= b.check_box :req_list %>Needs Car<br>
		
	</p>

	<p>
		<%= b.label :text %><br>
		<%= b.text_area :text %><br>

	</p>
	<p>
		<%=b.file_field :image %>
	</p>
	<p>
		<%= b.label :remote_image_url, "or image URL" %><br/>
		<%= b.text_field :remote_image_url %>
	</p>
		<label>
			<%= b.check_box :remove_image %>
			Remove Image
		</label>
	<p>
		<%= b.submit %>
	</p>

<% end %>


