<h1>Club 3rd's Block <%= link_to 'Stack []', blocks_path %>   |  <%= link_to 'Add New Block', new_block_path %>
	<br>


	<div id='tag_cloud'>
		<% tag_cloud Block.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>

</h1>

<br>
<br>

<% @blocks.each do |block| %>
	<span>
		<div id="block">
			<p class="center">
			<%= link_to block.title, block_path(block) %>
			</p>
			<p id="tags">
				<%= raw block.tag_list.map { |t| link_to t, tag_path(t) }.join('     ') %>
			</p>
		</div>
	</span>
	<br>
<% end %>
<br>

