<!-- display title and text-->
<span>

		<strong>Title:</strong>
		<%= @block.title %>


		<strong>Text:</strong>
		<%= @block.text %>

</span>

<h2> Comments </h>
<%= render @block.comments %>

<h2>Add a Comment:</h2>
<%= render "comments/form" %>
		

<%= link_to 'Back', blocks_path %> |
<%= link_to 'Edit', edit_block_path(@block) %>
