<div id="extrapadded">
<br>
<div id="bigblock">

		<h2 class="center" >
			<%= @block.title %>
		</h2>
		<p>
		Text:
		<%= @block.text %>
		</p>
		<p id="tags">
		Tags:
		<%= @block.tag_list %>
		</p>
		<p id="reqs">
		Reqs:
		<%= @block.req_list %>
		</p>
		<p>
		</p>

</div>

<%= render @block.comments %>

<h2>Comment:</h2>
<%= render "comments/form" %>
		

<%= link_to 'Back', blocks_path %> |
<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Delete', @block, :method => :delete, data: {confirm: 'You Sure Bro?'}  %>

</div>